<!DOCTYPE html>
<html ng-app="concept">
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stories</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.0/angular.min.js"></script>
        
        <!-- Own resources -->
        <script src="concept.js"></script>
        <script src="service/story-service.js"></script>
        <script src="controller/story-controller.js"></script>
    </head>
    
    <body>
        <div class="container" ng-controller="StoryController">
            <div class="page-header">
                <h1>Stories</h1>
            </div>

            <form class="hidden-print">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for a story" ng-model="searchStory">
                    </div>      
                </div>
            </form>

            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr>
                    <th class="hidden-print">
                        <a ng-click="toggleAllStories()">
                            <span ng-show="!allExpanded" class="glyphicon glyphicon-plus"></span>
                            <span ng-show=" allExpanded" class="glyphicon glyphicon-minus"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'id'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'id' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'id' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Id
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'title'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'title' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'title' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Title
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'priority'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'priority' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'priority' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Priority
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'avg complexity'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'avg complexity' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'avg complexity' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Complexity
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'state'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'state' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'state' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            State
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = '#tasks'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == '#tasks' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == '#tasks' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            # Tasks
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = '%done'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == '%done' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == '%done' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            % Done
                        </a>
                    </th>
                </tr>
                <tr ng-repeat="story in data.stories | orderBy:sortFunction:reverseOrder | filter:searchStory">
                    <td class="hidden-print">
                        <a ng-show="story.tasks.length > 0" ng-click="toggle(story)">
                            <span ng-show="!isExpanded(story)" class="glyphicon glyphicon-plus"></span>
                            <span ng-show=" isExpanded(story)" class="glyphicon glyphicon-minus"></span>
                        </a>
                    </td>
                    <td>
                        {{story.id}}
                        <div ng-show="isExpanded(story)" ng-repeat="task in story.tasks">
                            <small>{{story.id}}.{{task.id}}</small>
                        </div>
                    </td>
                    <td>
                        {{story.title}}
                        <!-- showing all labels after the title -->
                        <span ng-repeat="label in story.labels">
                            <span class="label label-default">{{label}}</span>
                        </span>
                        <div ng-show="isExpanded(story)" ng-repeat="task in story.tasks">
                            <small ng-hide="task.state == 'done'">{{task.title}}</small>
                            <s ng-show="task.state == 'done'"><small>{{task.title}}</small></s>
                        </div>
                    </td>
                    <td>
                        <span class="label label-warning" ng-show="story.priority == 'urgent'">{{story.priority}}</span>
                        <span class="label label-danger" ng-show="story.priority == 'critical'">{{story.priority}}</span>
                        <span class="label label-default" ng-hide="story.priority == 'critical' || story.priority == 'urgent'">{{story.priority}}</span>
                    </td>
                    <td>
                        {{getAverageComplexity(story)}}
                        <div ng-show="isExpanded(story)" ng-repeat="task in story.tasks">
                            <small>{{task.complexity}}</small>
                        </div>
                    </td>
                    <td>
                        {{getState(story)}}
                        <div ng-show="isExpanded(story)" ng-repeat="task in story.tasks">
                            <small>{{task.state}}</small>
                        </div>
                    </td>
                    <td>{{story.tasks.length}}</td>
                    <td>{{getPercentageDone(story)|number:2}}%</td>
                </tr>
            </table>            
        </div>
    </body>
</html>