<!DOCTYPE html>
<html ng-app="concept">
    <head>
        <meta charset="utf8" />
        <title>Stories</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        
        <!-- Own resources -->
        <script src="concept.js"></script>
        <script src="story.js"></script>
    </head>
    
    <body>
        <div class="container" ng-controller="StoryController">
            <div class="page-header">
                <h1>Stories</h1>
            </div>

            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr>
                    <th>
                        <a href="#" ng-click="sortKey = 'id'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'id' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'id' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Id
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'title'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'title' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'title' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Title
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'priority'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'priority' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'priority' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            Priority
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = 'state'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == 'state' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == 'state' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            State
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = '#tasks'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == '#tasks' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == '#tasks' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            # Tasks
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortKey = '%done'; reverseOrder = !reverseOrder">
                            <span ng-show="sortKey == '%done' && !reverseOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortKey == '%done' &&  reverseOrder" class="fa fa-caret-up"></span> 
                            % Done
                        </a>
                    </th>
                </tr>
                <tr ng-repeat="story in data.stories | orderBy:sortFunction:reverseOrder">
                    <td>{{story.id}}</td>
                    <td>{{story.title}}</td>
                    <td>{{story.priority}}</td>
                    <td>{{getState(story)}}</td>
                    <td>{{story.tasks.length}}</td>
                    <td>{{getPercentageDone(story)|number:2}}%</td>
                </tr>
            </table>
        </div>
    </body>
</html>