<script type="text/ng-template" id="story-dialog">
    <div class="ngdialog-message" ng-controller="StoryDialogController">
        <center>
            <h2 class="font-size-h2">{{story.title}}</h2>
            <span ng-repeat="label in story.labels">
                <span class="label label-default">{{label}}</span>
            </span>
        </center>
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Complexity</th>
                <th>Effort</th>
                <th>State</th>
                <th></th>
            </tr>
            <tr ng-repeat="task in story.tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>
                    <select class="form-control" ng-model="task.complexity">
                        <option value="easy">Easy</option>
                        <option value="moderate">Moderate</option>
                        <option value="difficult">Difficult</option>
                        <option value="unknown">Unknown</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" ng-model="task.effort">
                        <option value="soon">Soon</option>
                        <option value="days">Days</option>
                        <option value="weeks">Weeks</option>
                        <option value="unknonw">Unknown</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" ng-model="task.state">
                        <option value="todo">Todo</option>
                        <option value="wip">Wip</option>
                        <option value="done">Done</option>
                    </select>
                </td>
                <td>
                    <a class="glyphicon glyphicon-trash" ng-click="story.tasks.splice(story.tasks.indexof(task), 1)"></a>
                </td>
            </tr>
        </table>
    </div>
</script>

