<script type="text/ng-template" id="story-options">
    <div class="ngdialog-message">
        <h2>Stories Options</h2>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="options.hideDoneStories">
                Hide done stories
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="options.hideDoneTasks">
                Hide done tasks
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="options.hideStoryLabels">
                Hide story labels
            </label>
        </div>
    </div>
</script>