<script type="text/ng-template" id="story-dialog">
    <div class="ngdialog-message" ng-controller="StoryDialogController">
        <center>
            <h2 class="font-size-h2">{{story.title}}</h2>
            <span ng-repeat="label in story.labels">
                <span class="label label-default">{{label}}</span>
            </span>
        </center>
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Complexity</th>
                <th>Effort</th>
                <th>State</th>
            </tr>
            <tr ng-repeat="task in story.tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.complexity}}</td>
                <td>{{task.effort}}</td>
                <td>{{task.state}}</td>
            </tr>
        </table>
    </div>
</script>