<table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
        <th class="hidden-print">
            <a ng-click="toggleAllStories()">
                <span ng-show="!allExpanded" class="glyphicon glyphicon-plus"></span>
                <span ng-show=" allExpanded" class="glyphicon glyphicon-minus"></span>
            </a>
        </th>
        <th th-story title="Id" key="id" reverse-order="reverseOrder" sort-key="sortKey"></th>
        <th th-story title="Title" key="title" reverse-order="reverseOrder" sort-key="sortKey"></th>
        <th th-story title="Priority" key="priority" reverse-order="reverseOrder" sort-key="sortKey"></th>
        <th th-story title="Complexity" key="complexity" reverse-order="reverseOrder" sort-key="sortKey"></th>
        <th th-story title="State" key="state" reverse-order="reverseOrder" sort-key="sortKey"></th>
        <th th-story title="# Tasks" key="#tasks" reverse-order="reverseOrder" sort-key="sortKey"></th>
        <th th-story title="# Done" key="%done" reverse-order="reverseOrder" sort-key="sortKey"></th>

        <!-- todo: add link and open dialog -->
        <th>
            <a href="#" ng-click="openSettings()">
                <md-icon class="material-icons md-24">settings</md-icon></a>
        </th>
    </tr>
    <tr ng-repeat="story in data.stories | orderBy:sortFunction:reverseOrder | filter:searchStory | filter:showStory">
        <td class="hidden-print">
            <a ng-show="story.tasks.length > 0" ng-click="toggleService.toggleState(toggles, story.id)">
                <span ng-show="!toggleService.isExpanded(toggles, story.id)"
                      class="glyphicon glyphicon-plus"></span>
                <span ng-show="toggleService.isExpanded(toggles, story.id)"
                      class="glyphicon glyphicon-minus"></span>
            </a>
        </td>
        <td>
            {{story.id}}
            <div ng-show="toggleService.isExpanded(toggles, story.id)" ng-repeat="task in story.tasks | filter:showTask">
                <small>{{story.id}}.{{task.id}}</small>
            </div>
        </td>
        <td>
            {{story.title}}
            <!-- showing all labels after the title -->
            <span ng-if="!options.hideStoryLabels" ng-repeat="label in story.labels">
                <span class="label label-default">{{label}}</span>
            </span>
            <div ng-show="toggleService.isExpanded(toggles, story.id)" ng-repeat="task in story.tasks | filter:showTask">
                <small ng-hide="task.state == 'done'">{{task.title}}</small>
                <s ng-show="task.state == 'done'"><small>{{task.title}}</small></s>
            </div>
        </td>
        <td>
            <span class="label label-warning" ng-show="story.priority == 'urgent'">{{story.priority}}</span>
            <span class="label label-danger" ng-show="story.priority == 'critical'">{{story.priority}}</span>
            <span class="label label-default" ng-hide="story.priority == 'critical' || story.priority == 'urgent'">{{story.priority}}</span>
        </td>
        <td>
            {{storyService.getAverageComplexity(story)}}
            <div ng-show="toggleService.isExpanded(toggles, story.id)" ng-repeat="task in story.tasks | filter: showTask">
                <small>{{task.complexity}}</small>
            </div>
        </td>
        <td>
            {{storyService.getState(story)}}
            <div ng-show="toggleService.isExpanded(toggles, story.id)" ng-repeat="task in story.tasks | filter:showTask">
                <small>{{task.state}}</small>
            </div>
        </td>
        <td>{{story.tasks.length}}</td>
        <td>{{storyService.getPercentageDone(story)|number:2}}%</td>
        <td>
            <a class="glyphicon glyphicon-pencil" ng-click="openStory(story)"></a>
        </td>
    </tr>
</table>